<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<ul>
  <li>
    <% @posts.each do |post| %>
        <div><%= post.id %></td>
        <div><%= post.title %></td>
        <div><%= link_to 'Show', post %></td>
        <div><%= link_to 'Edit', edit_post_path(post) %></td>
        <div><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </li>
</ul>
<br>

<%= link_to 'New Post', new_post_path %>
