<main>
  <%= render 'shared/header' %>
  <div id="post">
    <section class="resume-section p-3 p-lg-5" id="post-content">
      <p id="notice"><%= notice %></p>
      <div class="title">
        <h2 id="post-title" class="font-weight-bold">
          <%= @post.title %>
        </h2>
      </div>

      <div class="cover-picture">
        <%= image_tag @post.cover_picture, id: "cover-picture" %>
      </div>

      <div class="body p-4">
        <div id="post-body">
        <%= simple_format(@post.body) %>
        </div>
      </div>

      <% if is_logged? %>
        <%= link_to 'Edit', edit_post_path(@post) %> |
      <% end %>
      <%= link_to 'Back', posts_path %>
    </section>

    <%=render 'shared/contact-form' %>
  </div>
</main>
